body {
    font-family: 'Nunito', sans-serif;
}

.my-colors__bg-progressbar-orange {
        background: #FF5000;
}

.my-colors__text-orange {
    color: #FF5000;
}

.my-box {
    width: 350px;
    border-radius: 0px;
}

.my-box__border-radius-none {
    border-radius: 0 !important;
}

.my-box__amount-dollar::before {
    display: inline-block;
    position: absolute;
    content: "$";
    top: 10px;
    left: 5px;
}

.my-box__amount-input {
    display: inline-block;
    width: 46.5%;
    padding-left: 15px;
    margin-right: 4.75%;
    box-sizing: border-box;
    z-index: 10;
    -moz-appearance: textfield;
}

.my-box__amount-input::-webkit-outer-spin-button, .my-box__amount-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.my-box__amount-button {
    width: 46.5%;
}

.my-buttons {
    width: 350px;
}

.my-buttons__light-button {
    width: 47.5%;    
}

.my-buttons__light-button-right {
    width: 47.5%;
    margin-left: 3.75%;
}

.my-bubble {
    position: relative;
    background: #424242;
    border-radius: 3px;
    width: 350px;
}

.my-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 80%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #424242;
    border-bottom: 0;
    margin-left: -4px;
    margin-bottom: -8px;
}