* {
    border-radius: 0 !important;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance:textfield;
}

input[type="number"]:focus {
    outline: none;
}
    
.my-overlay {
    width: 200px;
    position: relative;
}

.my-overlay__image {
    width: 200px;
    opacity: 1;
    transition: .5s ease;
}

.my-overlay__text{
    opacity: 0;
    background: #000;
    color: #FFF;
    position: absolute;
    top: 45%;
    left: 35%;
    transition: .5s ease;
}

.my-overlay:hover .my-overlay__image {
    opacity: 0.4;
}

.my-overlay:hover .my-overlay__text {
    opacity: 1;
}
.my-gallery__image {
    width: 100%;
}
.my-gallery__image:-ms-fullscreen {
    width: 25% !important;
}

.my-prices__green-text {
    color: #47B519;
}

.my-prices__bigger-text {
    font-size: 1.5rem;
}

.my-buttons {
    height: 50px;
}

.my-buttons__plus-button, .my-buttons__minus-button {
    width: 35px;
    height: 50%;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}

.my-buttons__plus-button {
    right: 0;
    top: 0;
    border-bottom: none;
}

.my-buttons__minus-button {
    right: 0;
    bottom: 0;
}

.my-btn {
    width: 45%;
    height: 50px;
    background: #47B519;
}

.clear {
    clear: both;
}

@media only screen and (max-width: 501px) {
    .my-buttons {
        width: 45% !important;
    }
}